LOG_LEVEL=INFO

POSTGRES_AUTH_USER=change_me_auth_user
POSTGRES_AUTH_PASSWORD=change_me_auth_pass
POSTGRES_AUTH_DB=change_me_auth_db
POSTGRES_AUTH_DATABASE_URL=postgresql+asyncpg://change_me_auth_user:change_me_auth_pass@postgres-auth:5432/change_me_auth_db

REDIS_AUTH_URL=redis://redis-auth:6379/0

POSTGRES_DEVICE_USER=change_me_device_user
POSTGRES_DEVICE_PASSWORD=change_me_device_pass
POSTGRES_DEVICE_DB=change_me_device_db
POSTGRES_DEVICE_DATABASE_URL=postgresql+asyncpg://change_me_device_user:change_me_device_pass@postgres-device:5432/change_me_device_db

REDIS_DEVICE_URL=redis://redis-device:6379/0

RABBITMQ_USER=change_me_rabbit_user
RABBITMQ_PASSWORD=change_me_rabbit_password
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://change_me_rabbit_user:change_me_rabbit_password@rabbitmq:5672/

PRIVATE_KEY=insert_your_private_key_here
PUBLIC_KEY=insert_your_public_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=15